html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}
.face{
    display: flex;
    flex-direction: row;
}
.eye{
    width: 20vmin;
    height: 20vmin;
    background-color: #DB2F3C;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye:nth-child(2){
    background: none;
}
.eye:nth-child(3){
    transform: scaleX(-1);
}
.eyelid{
    position: absolute;
    left: -2vmin;
    width: 24vmin;
    height: 24vmin;
    animation-name: eyelid;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-image: url("eyelid.svg");
    background-position: center;
    background-size: cover;
}
.innereye{
    background-color: #262626;
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
@keyframes eyelid {
    0% {transform:translate(0,-20vmin)} /*tired*/
    5% {transform:translate(0,-10vmin)}
    10% {transform:translate(0,-12vmin)}

    20% {transform:translate(0,-12vmin)} /*angry*/
    25% {transform:translate(4vmin,-15vmin) rotate(15deg)}
    30% {transform:translate(4vmin,-15vmin) rotate(15deg)}
    35% {transform:translate(4vmin,-13vmin) rotate(20deg)}

    40% {transform:translate(4vmin,-13vmin) rotate(20deg)} /*tired*/
    45% {transform:translate(0,1vmin)}
    50% {transform:translate(0,1vmin)}

    60% {transform:translate(-4vmin,-14vmin) rotate(-15deg)}
    70% {transform:translate(-4vmin,-14vmin) rotate(-15deg)}

    75% {transform:translate(-4vmin,-14vmin) rotate(-15deg)}
    80% {transform:translate(-4vmin,-9vmin) rotate(-15deg)}
    85% {transform:translate(-4vmin,-14vmin) rotate(-15deg)}

    90% {transform:translate(-4vmin,-14vmin) rotate(-15deg)}

    100% {transform:translate(0,-20vmin)}
}